[Desktop Entry]
Name=Protonium
Comment=Unofficial Electron wrapper for mail.proton.me
Exec=protonium %U
Terminal=false
Type=Application
Icon=protonium
StartupWMClass=protonium
Categories=Network;Email;
